<div style="margin: 0 10px 20px 10px;font-weight:bold;font-size:16px">
    <div class="row" style="margin:0;padding:0">
        <div class="col-md-10" style="padding:0">
            <div>annolityx</div>
        </div>
        <div class="col-md-2 text-right" style="padding:0">
            <a href="javascript:void(0)" ng-click="logOut()" id="logout-btn" title="Logout">
                <div><span style="padding-left:10px" class="glyphicon glyphicon-log-out"></span></div>
            </a>
        </div>
    </div>
</div>