<table class="table" style="margin-bottom:0px;border:none;" time-dimension>
    <tr>
        <td>
            <button type="button" class="btn btn-default" ng-click="timeDimension.activeType = timeDimension.activeType==='relative' ?  'absolute' : 'relative'" ng-switch="timeDimension.activeType">
                <span ng-switch-when="absolute" class="glyphicon glyphicon-time"></span>
                <span ng-switch-default class="glyphicon glyphicon-calendar"></span>
                <!--<span>{{timeDimension.activeType}}</span>-->
            </button>
        </td>
        <td ng-switch="timeDimension.activeType" colspan="2">
            <div class="row" style="margin:0" ng-switch-when="absolute">
                <div class="col-md-6" style="padding:0">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="start-time-dropdown" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon" style="padding:0;border:none">
                                    <svg height="20" width="10" class="arrow">
                                        <polygon points="10,0 10,20 0,10" style="fill:#999"></polygon>
                                    </svg>
                                </div>
                                <span class="input-group-addon" style="border-right:none;border-radius: 2px 0 0 2px;">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <span>From</span>
                                </span>
                                <input type="text" class="form-control" ng-model="timeDimension.types.absolute.start" style="box-shadow:none">
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="timeDimension.types.absolute.start" data-datetimepicker-config="{ dropdownSelector: '#start-time-dropdown' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6" style="padding:0">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="end-time-dropdown" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon" style="padding:0;border:none">
                                    <svg height="20" width="10" class="arrow">
                                        <polygon points="10,0 10,20 0,10" style="fill:#999"></polygon>
                                    </svg>
                                </div>
                                <span class="input-group-addon" style="border-radius: 2px 0 0 2px;border-right:none">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <span>To</span>
                                </span>
                                <input type="text" class="form-control" ng-model="timeDimension.types.absolute.end" style="box-shadow:none">
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="timeDimension.types.absolute.end" data-datetimepicker-config="{ dropdownSelector: '#end-time-dropdown' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0">
                <div class="col-md-12" style="padding:0">
                    <div class="input-group input-group-sm" ng-switch-default>
                        <div class="input-group-addon" style="padding:0;border:none">
                            <svg height="20" width="10">
                                <polygon points="10,0 10,20 0,10" style="fill:#777"></polygon>
                            </svg>
                        </div>
                        <input type="text" class="form-control" ng-model="timeDimension.types.relative.start" placeholder="e.g. 1s | 1m | 1h | 1w ">
                        <span class="input-group-addon" style="border:none"><b>ago</b></span>
                    </div>
                </div>
            </div>
        </td>
        <td class="text-right">
            <button type="button" class="btn btn-default" ng-click="setTimeRange(timeDimension)">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </td>
    </tr>
</table>